---
---

.jumbotron {
    background-color: #181818;
    margin-bottom: 0;
}

a.social-icons i {
    color: #fff;
}

a.social-icons i:hover {
    color: #17a2b8;
}

.media-body a,
article a,
a.text-primary,
.card-link {
    color: #17a2b8;
}

.media-body a:hover,
article a:hover,
a.text-primary:hover,
.card-link:hover {
    color: #181818;
    text-decoration: none;
}

li.nav-item a.nav-link.text-secondary.active {
    color: #17a2b8 !important;
}

.highlighter-rouge {
    width: 80vw;
    max-width: 125%;
}

.rouge-code {
    border-top: 2px solid #d0d0d0;
    border-left: 2px solid #d0d0d0;
    font-weight: bold;
    padding: 15px 0 0 15px;
}

pre.highlight {
    padding: 20px 0 0 15px;
}

pre.lineno {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    color: #d0d0d0;
}