---
---

$white: #ffffff;
$black: #181818;
$grey:  #6c757d;
$light: #f8f9fa;
$blue:  #17a2b8;
$dark:  #343a40;
$muted: #818182;

.jumbotron {
    background-color: $black;
    margin-bottom: 0;
}

body {
    color: $black;
}

ul li {
    color: $dark;
}

a.social-icons i {
    color: $white;
}

article {
    max-width: 800px;
    margin: 0 auto;
}

.page-content       { font-size: 1.125rem; }
.page-content h3    { margin-left: 1rem;   }
.page-content h4    { margin-left: 1.5rem; }
.page-content p     { margin-left: 2rem;   }
.page-content .gist { margin-left: 2rem;   }

.media-body a,
.page-content a,
a.nav-link,
a.text-primary,
a.social-icons i:hover,
.breadcrumb-item a,
.card-link {
    color: $blue;
}

.media-body a:hover,
.page-content a:hover,
a.nav-link:hover,
a.text-primary:hover,
.breadcrumb-item a:hover,
.card-link:hover {
    color: $dark;
    text-decoration: none;
}

li.nav-item a.nav-link.text-secondary.active {
    color: $blue !important;
}

div.highlighter-rouge {
    margin: 1rem 0 2.5rem 1.5rem;
}

.rouge-code {
    border-left: 2px solid $light;
    font-weight: bold;
    padding-left: 15px;
}

pre.highlight {
    padding: 1rem;
}

pre.lineno {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    color: $light;
}

table:not(.rouge-table) {
    margin: 0 0 2rem;
}

blockquote{
    display: flex;
    position: relative;
    background: $light;
    padding: 1.25rem 2rem;
    margin: 2rem 3rem 3rem;
    color: $grey;
    border-left: 0.5rem solid $blue;
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

blockquote.quote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 4rem;
    font-weight: bold;
    color: $blue;
    position: absolute;
    left: 0.5rem;
    top: 0;
}

blockquote:not(.quote)::before {
    content: "*";
    font-family: Georgia, serif;
    font-size: 4rem;
    font-weight: bold;
    color: $blue;
    position: absolute;
    left: 0.5rem;
    top: 0;

}

blockquote::after {
    content: "";
}
