<div class="container-fluid h-100 text-light d-print-none" style="background-color: #181818;">
    <div class="row py-3 justify-content-around">
        <div class="col">
            <span class="float-right">
                {% assign social = site.data.social %}
                <a class="pr-2 social-icons" href="{{ social.steam.link }}" title="{{ social.steam.title }}" target="_blank"><i class="{{ social.steam.icon }} fa-lg"></i></a>
                <a class="pr-2 social-icons" href="{{ social.spotify.link }}" title="{{ social.spotify.title }}" target="_blank"><i class="{{ social.spotify.icon }} fa-lg"></i></a>
                <a class="pr-2 social-icons" href="{{ social.catstagram.link }}" title="{{ social.catstagram.title }}" target="_blank"><i class="{{ social.catstagram.icon }} fa-lg"></i></a>
            </span>
            <small>You have reached the end of the page.</small>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/js/extras.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141012234-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-141012234-1');
</script>

{% include google-map.html %}