<header class="d-print-none">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #181818;">
        <a class="navbar-brand" href="/"><img src="{{ site.data.about.base.avatar }}" class="rounded" width="30" height="30" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-right" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% for my_page in site.pages %}
                    {% if my_page.title %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <span class="navbar-text">
                {% assign social = site.data.social %}
                <a class="pr-2 social-icons" href="{{ social.github.link }}" title="{{ social.github.title }}" target="_blank"><i class="{{ social.github.icon }}"></i></a>
                <a class="pr-2 social-icons" href="{{ social.instagram.link }}" title="{{ social.instagram.title }}" target="_blank"><i class="{{ social.instagram.icon }}"></i></a>
                <a class="pr-2 social-icons" href="{{ social.reddit.link }}" title="{{ social.reddit.title }}" target="_blank"><i class="{{ social.reddit.icon }}"></i></a>
                <a class="pr-2 social-icons" href="{{ social.linkedin.link }}" title="{{ social.linkedin.title }}" target="_blank"><i class="{{ social.linkedin.icon }}"></i></a>
                <a class="pr-2 social-icons" href="{{ social.email.link }}" title="{{ social.email.title }}" target="_blank"><i class="{{ social.email.icon }}"></i></a>
            </span>
        </div>
    </nav>
</header>