<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #181818;">
        <a class="navbar-brand" href="/"><img src="/assets/me.png" class="rounded" width="30" height="30" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-right" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                {% for my_page in site.pages %}
                    {% if my_page.title %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <span class="navbar-text">
                <a class="pr-2 social-icons" href="https://github.com/skrolikowski" title="Shane Krolikowski - GitHub" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
                <a class="pr-2 social-icons" href="https://www.instagram.com/shanekrolikowski/" title="Shane Krolikowski - Instagram" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a class="pr-2 social-icons" href="https://www.reddit.com/user/skrolikowski" title="Shane Krolikowski - Reddit"><i class="fab fa-reddit-square fa-2x"></i></a>
                <a class="pr-2 social-icons" href="https://www.linkedin.com/in/skrolikowski/" title="Shane Krolikowski - LinkedIn"><i class="fab fa-linkedin fa-2x"></i></a>
                <a class="pr-2 social-icons" href="mailto:skrolikowski@gmail.com" title="Shane Krolikowski - Email"><i class="far fa-envelope fa-2x"></i></a>
            </span>
        </div>
    </nav>
</header>