<div class="card col-12 text-dark bg-white border-light mb-3">
    <div class="card-body">
        <span class="float-right text-muted">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3 class="card-title">
            <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" class="card-link">{{ post.title }}</a>
        </h3>
        <p class="card-text">{{ post.excerpt }}</p>
        <p class="card-text">
            {% for tag in post.tags %}
                <span class="badge badge-dark badge-pill">{{ tag | remove: "," }}</span>
            {% endfor %}
            <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" class="card-link float-right">Read more</a>
        </p>
    </div>
</div>
