<div class="card col-12 text-dark bg-white border-light my-3">
    <div class="card-body">
        <span class="float-right text-muted">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3 class="card-title">
            <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" class="card-link">{{ post.title }}</a>
        </h3>
        <p class="card-text">{{ post.content | strip_html | truncatewords:30 }}</p>
        <p class="card-text text-right">
            <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" class="card-link">Read more</a>
        </p>
    </div>
</div>
