<!-- Use if you want to show previous and next for all posts. -->

<div class="row my-3">
    <div class="col">

        {% if page.previous.url %}
            <a class="btn btn-info btn-sm" href="{{ page.previous.url | prepend: site.baseurl }}">
                <i class="fas fa-arrow-left"></i> {{ page.previous.title }}
            </a>
        {% endif %}

        {% if page.next.url %}
            <a class="btn btn-info btn-sm" href="{{ page.next.url | prepend: site.baseurl }}">
                {{ page.next.title }} <i class="fas fa-arrow-right"></i>
            </a>
        {% endif %}

    </div>
</div>