{% assign base       = site.data.about.base %}
{% assign images     = site.data.images %}
{% assign social     = site.data.social %}
{% assign education  = site.data.about.education %}
{% assign experience = site.data.about.experience %}
{% assign skills     = site.data.skills %}
{% assign keywords   = site.data.keywords %}
{% assign projects   = site.data.projects %}

<div class="row">
    <div class="col-4 bg-dark text-white">

        <!-- Avatar -->
        <div class="pt-5 pb-3 text-center">
            <p><img src="{{ images.avatar.src }}" class="img-fluid rounded-circle" /></p>
            <h3>Shane Krolikowski</h3>
            <em>Seattle Programmer</em>

            <div class="align-center pt-3">
                {% for keyword in keywords %}
                    <span class="badge badge-info">{{ keyword }}</span>
                {% endfor %}
            </div>
        </div>

        <!-- Information -->
        <div class="py-3">
            <h4 class="text-right">Profile</h4>
            <div class="border-white border-top py-3 text-justify">
                {{ base.synopsis }}
            </div>
        </div>

        <!-- Contact -->
        <div class="py-3">
            <h4 class="text-right">Contact</h4>
            <div class="border-white border-top py-3">
                <div class="row pb-1">
                    <div class="col text-right">{{ base.address }}</div>
                    <div class="col-2"><i class="fas fa-map-marker-alt fa-lg"></i></div>
                </div>
                <div class="row pb-1">
                    <div class="col text-right">{{ base.website }}</div>
                    <div class="col-2"><i class="fas fa-laptop"></i></div>
                </div>
                <div class="row pb-1">
                    <div class="col text-right">{{ base.email }}</div>
                    <div class="col-2"><i class="fas fa-envelope-square fa-lg"></i></div>
                </div>
                <div class="row pb-1">
                    <div class="col text-right">{{ base.phone }}</div>
                    <div class="col-2"><i class="fas fa-phone-square fa-lg"></i></div>
                </div>
            </div>
        </div>

        <!-- Skills -->
        <div class="py-3">
            <h4 class="text-right">Skills</h4>
            <div class="border-white border-top py-3">
                {% for item in skills[0].items %}
                    {% if item.level > 0 %}
                        <div class="row">
                            <div class="col"><strong>{{ item.title }}</strong></div>
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ item.level }}%" aria-valuenow="{{ item.level }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- References -->
        <div class="pb-3">
            <h4 class="text-right">References</h4>
            <div class="border-white border-top py-3">
                <em>Available upon request.</em>
            </div>
        </div>
    </div>
    <div class="col py-3 px-5">

        <!-- Experience -->
        <div class="pb-3">
            <h3>
                <i class="fas fa-briefcase p-1 float-right"></i>
                Experience
            </h3>
            {% for job in experience.employment %}
                <div class="row border-dark border-top px-2 pt-2">
                    <div class="col">
                        <h5>{{ job.title }}</h5>
                        <em>{{ job.company }}</em>
                        <p>{{ job.summary }}</p>
                    </div>
                    <div class="col-3 text-right">
                        <h6>[{{ job.started }}:{{ job.ended }}]</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        {% if job.bullets %}
                            <ul>
                                {% for item in job.bullets %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Education -->
        <div class="pb-3">
            <h3>
                <i class="fas fa-graduation-cap p-1 float-right"></i>
                Education
            </h3>
            {% for school in education.schools %}
                <div class="row border-dark border-top py-2">
                    <div class="col">
                        <h5>{{ school.program }}</h5>
                        <em>{{ school.title }}</em>
                    </div>
                    <div class="col-3 text-right">
                        <h6>[{{ school.enrolled }} - {{ school.graduated }}]</h6>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Projects -->
        <div class="pb-3">
            <h3>
                <i class="fas fa-tasks p-1 float-right"></i>
                Projects
            </h3>
            {% for project in projects %}
                <div class="row border-dark border-top py-2">
                     <div class="col">
                        <h5>{{ project.title }}</h5>
                    </div>
                    <div class="col-3 text-right">
                        <h6 class="text-muted"><i class="fab fa-github"></i> {{ project.title }}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ project.text }}
                    </div>
                    <div class="col-4">
                        <ul>
                            {% for technology in project.technologies %}
                                <li>{{ technology }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>