<div id="about-me" class="card col-12 text-dark bg-white border-white" style="min-height: 100%; min-height: 100vh;">
    <div class="card-body">
        <div class="card-text">
            <div class="py-3">
                <p>
                    My name is Shane Krolikowski.
                    Tacoma, WA born, currently residing in the Queen Anne neighborhood of Seattle, WA.
                    I have several disciples, but my most passionate one is programming.
                    It started out as an evening hobby, but soon became an obsession.
                    I started out in the Web Development field, but recently turned my interests to Game &amp; Application Development.
                    It is my goal to continually challenge myself, learn from my failures, and grow.
                    Try, fail, learn, repeat.
                </p>
                <p>
                    I am a passionate and determined problem solver.
                    I strive to learn the next topic, while focused on the current task in hand.
                    Humble &amp; cooperative, even though I tend to work on my own.
                    Trustworthy &amp; loyal, but I am not afraid to offer up challenge.
                    Perceptive &amp; attentive, but will still probably ask a thousand questions.
                </p>
            </div>
            <div class="py-3">
                <div id="google-map" class="w-100" style="height: 400px;"></div>
            </div>
            <div class="mt-5 text-right">
                <i class="fas fa-square fa-2x pr-2 text-muted"></i>
            </div>
        </div>
    </div>
</div>