<div id="interests" class="card col-12 text-dark bg-white border-white" style="min-height: 100%; min-height: 100vh;">
    <div class="card-body d-flex">
        <div class="w-100 my-auto">
            <h3 class="card-title">Interests</h3>
            <div class="card-text border-top border-dark">
                <div class="py-3">
                    <h5>Current Favorite Movie</h5>
                    <p><a href="https://www.imdb.com/title/tt0088194" target="_blank">Streets of Fire</a></p>
                </div>
                <div class="py-3">
                    <h5>Current Favorite TV Show</h5>
                    <p><a href="https://www.imdb.com/title/tt1466074" target="_blank">Columbo</a></p>
                </div>
                <div class="mt-5 text-right">
                    <i class="fas fa-square fa-2x pr-2 text-muted"></i>
                </div>
            </div>
        </div>
    </div>
</div>