{% assign content = site.data.about.intro %}

<div id="intro" class="card col-12 text-dark bg-white border-white" style="min-height: 100%; min-height: 100vh;">
    <div class="card-body d-flex">
        <div class="w-100 my-auto">
            <div class="card-text">

                {% for section in content.sections %}
                    <div class="py-3">
                        {{ section }}
                    </div>
                {% endfor %}

                <div class="mt-5 text-right">
                    <i class="fas fa-square fa-2x pr-2 text-muted"></i>
                </div>
            </div>
        </div>
    </div>
</div>
