{% assign content = site.data.about.intro %}

<div class="card col-12 text-dark bg-white border-white" style="min-height: 100%; min-height: 100vh;">
    <div class="card-body">
        <div class="w-100 my-auto">
            <div class="card-text">

                {% for section in content.sections %}
                    <div class="py-3">
                        {{ section }}
                    </div>
                {% endfor %}

                <div class="py-3">
                    <div id="google-map" class="w-100" style="height: 400px;"></div>
                </div>

                {% include utils/scroll-to-top.html %}
            </div>
        </div>
    </div>
</div>
