---
layout: default
---

<div class="jumbotron jumbotron-fluid border-top border-white">
    <div class="container text-light">
        <h1 class="display-1 font-weight-bold">Shane<br />Krolikowski</h1>
        <p class="lead text-uppercase ">Seattle Programmer</p>
        <div class="row my-5 justify-content-around">
            <div class="col-5 border-top border-white py-3">
                <i class="fas fa-square fa-2x pr-2 text-info"></i>
                <i class="fas fa-square fa-2x pr-2 text-info"></i>
                <i class="fas fa-square fa-2x pr-2 text-info"></i>
            </div>
            <div class="col-5 border-top border-white py-3">
                <span class="h4">{{ site.location }}</span>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        {% for post in site.posts %}
            {% include post-block.html %}
        {% endfor %}
    </div>
</div>
