---
layout: default
---

<div class="container py-5">
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <div class="float-right d-none d-md-block">
            {% for tag in page.tags %}
                <span class="badge badge-dark">{{ tag }}</span>
            {% endfor %}
        </div>
        <h1 itemprop="name headline mb-1">{{ page.title }}</h1>

        <div class="border-top border-dark text-muted py-3">
            <span class="float-right">
                <i class="fas fa-square fa-2x pr-2 text-info"></i>
                <i class="fas fa-square fa-2x pr-2 text-info"></i>
                <i class="fas fa-square fa-2x pr-2 text-info"></i>
            </span>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </div>

        <div class="py-3">
            {{ content }}
        </div>

        {% include scroll-to-top.html %}
    </article>
</div>

<div class="container py-3">
    {% include previous-next.html %}
</div>

<div class="container py-3">
    {% include related-posts.html %}
</div>