---
layout: default
---

<div class="jumbotron jumbotron-fluid border-top border-white py-1">
    <div class="container-fluid text-light">
        <div class="float-right d-none d-md-block">
            {% for tag in page.tags %}
                <span class="badge badge-light">{{ tag }}</span>
            {% endfor %}
        </div>
        <h2 class="text-center d-md-none" itemprop="name headline">{{ page.title }}</h2>
        <h1 class="d-none d-md-block">{{ page.title }}</h1>
    </div>
</div>

<div class="container-fluid py-3">
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <div class="pb-3">
            <span class="text-muted float-right">
                <i class="fas fa-square fa-2x pr-2 text-info"></i>
                <i class="fas fa-square fa-2x pr-2 text-info"></i>
                <i class="fas fa-square fa-2x pr-2 text-info"></i>
            </span>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </div>

        <div class="page-content py-3">
            {{ content }}
        </div>
        <div class="clearfix"></div>

        {% include utils/scroll-to-top.html %}
    </article>
</div>

<div class="container-fluid my-5 border-top border-dark">
    {% include utils/previous-next.html %}
</div>