---
layout: default
---

<div class="jumbotron jumbotron-fluid border-top border-white py-1">
    <div class="container-fluid text-light">
        <div class="float-right d-none d-md-block">
            {% for tag in page.tags %}
                <span class="badge badge-light">{{ tag }}</span>
            {% endfor %}
        </div>
        <h2 class="text-center d-md-none" style="font-size: 5vw;" itemprop="name headline">{{ page.title }}</h2>
        <h1 class="d-none d-md-block" style="font-size: 4vw;">{{ page.title }}</h1>
    </div>
</div>

<div class="container-fluid py-3">
    {% if page.stats or page.thumbnails %}
        <div class="col-sm-12 col-md-4 py-3 float-right">
            {% include utils/stats.html %}
            {% include utils/thumbnails.html %}
        </div>
        <div class="d-xs-block d-md-none clearfix"></div>
    {% endif %}

    <div class="page-content py-3">
        {% include utils/breadcrumbs.html %}
        {% include utils/crown.html %}

        {{ content }}

        <div class="clearfix"></div>
    </div>
</div>